body{
    text-align: center;
    font-size: clamp(1rem, 6vw, 1rem);
    @media (width <= 700px ){
        background-color: black;
        color: white;
    }
   
}

.header {
    background-color: deepskyblue;
    color: white;
    text-align: center;
    @media (width <= 700px ){
        background-color: rgb(111, 1, 208);
        color: white;
        width: auto, fixed;
    }
    
}


footer{
    background-color: deepskyblue;
    color: white;
    text-align: center;
    @media (width <= 700px ){
      background-color: rgb(111, 1, 208);
      color: white;
      width: auto, fixed;
  }
}

.card{
    @media (width <= 700px ){
        height: 100px;
        margin: 10px;
        background-color: rgba(97, 94, 94, 0.1);
        color: white;
        width: auto;
        height: auto;
        font-size: clamp(1rem, 4vw, 1rem);
    }
}

.ip{
    border-radius: 80%;
    border-width: 10px;
    border-style: solid;
    border-color: white;
    height: 220px;
    position: absolute;
    top: 10px;
    left: 10px;
    @media (width <= 700px ){
        height: 130px;
        transform: translateY(425px);
        margin-left: 35%;
        border-radius: 50%;
    }

}

p .h{
    text-align:center, justify;
    margin: 50px;
    @media (width <= 700px ){
        transform: translateY(99960px);
        margin: 30%;
    }
}


.skills-wrapper {
  display: inline-flex;
  list-style: none;
  justify-content: center;
  gap: 20px; /* Espacio entre los iconos */
  padding-top: 20px;
  @media (width <= 700px ){
    gap: 15px;
    padding-top: 15px;
  }
}

.skill-icon {
  position: relative;
  background-color: #fff; /* Fondo por defecto */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  @media (width <= 700px ){
    height: 70px;
    width: 50px;
    align-items: top;
  }
}


.skill-icon .tooltip::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #333;
  transform: rotate(45deg);
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
}

.skill-icon:hover {/* Fondo más oscuro al pasar el mouse */
  transform: scale(2.1);
  transform: translateY(-10px);
  background-color: cornflowerblue;
}

.skill-icon:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.skill-icon img {
  width: 40px; /* Tamaño del icono */
  height: 40px;
  transition: all 0.3s ease;
}

.skill-icon:hover img {
  transform: scale(1.2); /* Aumenta el tamaño del icono al pasar el mouse */
}

.skill-icon a {
  text-decoration: none;
  color: inherit;
}

/* From Uiverse.io by Madflows */ 
.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
  @media (width <= 700px ){
    transform: translateX(150px);
    height: 1rem;
    widht: 6px;
}
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}
