/* Estilos generales */
body {
  text-align: center;
  font-size: clamp(1rem, 4vw, 1.5rem);
}

/* Estilos para pantallas de 700px o menos */
@media (max-width: 700px) {
  body {
      background-color: black;
      color: white;
  }

  .header {
      background-color: rgb(111, 1, 208);
      width: 100%;
  }

  footer {
      background-color: rgb(111, 1, 208);
      width: 100%;
  }

  .card {
      height: auto;
      margin: 10px;
      background-color: rgba(97, 94, 94, 0.1);
      color: white;
      font-size: clamp(1rem, 4vw, 1.5rem);
  }

  .ip {
      height: 130px;
      transform: translateY(95px);
      margin-left: 35%;
      border-radius: 50%;
  }

  p.h {
      text-align: justify;
      margin: 30px;
  }

  .skills-wrapper {
      gap: 10px;
      padding-top: 15px;
  }

  .skill-icon {
      height: 80px;
      width: 55px;
  }

  .button {
      transform: translateX(150px);
  }
}

/* Header */
.header {
  background-color: deepskyblue;
  color: white;
  text-align: center;
  padding: 15px;
}

/* Footer */
footer {
  background-color: deepskyblue;
  color: white;
  text-align: center;
  padding: 15px;
}

/* Sección de habilidades */
.skills-wrapper {
  display: inline-flex;
  list-style: none;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}

.skill-icon {
  position: relative;
  background-color: #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.skill-icon:hover {
  transform: scale(1.2);
  background-color: cornflowerblue;
}

.skill-icon img {
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}

.skill-icon:hover img {
  transform: scale(1.2);
}

/* Botón */
.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}
